@page
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="~/images/logo.png" width="176" height="33" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li>
                        <a class="navbar-item" asp-page="/Cart">
                            Cart: <vc:cart view="Small"></vc:cart>
                        </a>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Account</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li><a asp-page="/admin/index">Go to Admin Panel</a></li>
                                <li><a asp-controller="account" asp-action="logout">Sign Out</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li><a asp-page="/accounts/login">Sign In</a></li>
                            </ul>
                        }
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">The Generic Page</h2>
                    <p class="text-white">It won’t be a bigger problem to find one video game lover in your <br> neighbor. Since the introduction of Virtual Game.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- About Generic Start -->
<div class="main-wrapper">

    <!-- Start unique-feature Area -->
    <section class="unique-feature-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Some Features that Made us Unique</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            @{
                                bool isEmpty = !Model.Cart.Any();
                                @if (isEmpty)
                                {
                                    <p class="subtitle is-6 has-text-centered">Your cart is empty.</p>
                                }
                                else
                                {
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Product ID</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Availablity</th>
                                                <th scope="col" class="text-center">Quantity</th>
                                                <th scope="col" class="text-right">Price</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in Model.Cart)
                                            {
                                                <tr id="product-@product.StockId">
                                                    <td>
                                                        <img src="https://dummyimage.com/50x50/55595c/fff" class="image is-64x64" />
                                                    </td>
                                                    <td>@product.StockId</td>
                                                    <td>@product.Name</td>
                                                    <td>In Stock</td>
                                                    <td>
                                                        <div class="columns has-text-centered is-mobile is-multiline">
                                                            <div class="column is-4">
                                                                <button class="button" type="button"
                                                                        data-stock-id="@product.StockId"
                                                                        data-value="@product.RealValue"
                                                                        onclick="removeOneFromCart(event, this.dataset.value)">
                                                                    -
                                                                </button>
                                                            </div>
                                                            <div class="column is-4 align-self-center" id="stock-@product.StockId">
                                                                @product.Quantity
                                                            </div>
                                                            <div class="column is-4">
                                                                <button class="button" type="button"
                                                                        data-stock-id="@product.StockId"
                                                                        data-value="@product.RealValue"
                                                                        onclick="addOneToCart(event, this.dataset.value)">
                                                                    +
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="stockTotal-@product.StockId">@product.TotalValue</td>
                                                    <td>
                                                        <button class="button is-danger fa fa-trash" type="button"
                                                                onclick="removeAllFromCart(event)"
                                                                data-stock-id="@product.StockId"></button>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Sub-Total</td>
                                                <td class="text-right"><vc:cart view="Small"></vc:cart></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Shipping</td>
                                                <td class="text-right">6,90 €</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>Total</strong></td>
                                                <td class="text-right"><strong>346,90 €</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                }
                             }
                        </div>
                        <div class="col mb-2">
                            <div class="row">
                                <div class="col-sm-12  col-md-6">
                                    <a asp-page="/Browse" class="btn btn-lg btn-block btn-light text-uppercase">Continue Shopping</a>
                                </div>
                                <div class="col-sm-12 col-md-6 text-right">
                                    <a asp-page="/Checkout/CustomerInformation" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End unique-feature Area -->

@*<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column box">
                    @{
                        bool isEmpty = !Model.Cart.Any();
                        @if (isEmpty)
                        {
                            <p class="subtitle is-6 has-text-centered">Your cart is empty.</p>
                        }
                        else
                        {
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Product ID</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total Value</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model.Cart)
                                    {
                                        <tr id="product-@product.StockId">
                                            <td>
                                                <img src="~/images/shirts.jpg" class="image is-64x64" />
                                            </td>
                                            <td>@product.StockId</td>
                                            <td>@product.Name</td>
                                            <td>@product.Value</td>
                                            <td>
                                                <div class="columns has-text-centered is-mobile is-multiline">
                                                    <div class="column is-4">
                                                        <button class="button" type="button"
                                                                data-stock-id="@product.StockId"
                                                                data-value="@product.RealValue"
                                                                onclick="removeOneFromCart(event, this.dataset.value)">
                                                            -
                                                        </button>
                                                    </div>
                                                    <div class="column is-4 align-self-center" id="stock-@product.StockId">
                                                        @product.Quantity
                                                    </div>
                                                    <div class="column is-4">
                                                        <button class="button" type="button"
                                                                data-stock-id="@product.StockId"
                                                                data-value="@product.RealValue"
                                                                onclick="addOneToCart(event, this.dataset.value)">
                                                            +
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="stockTotal-@product.StockId">@product.TotalValue</td>
                                            <td>
                                                <button class="button is-danger fa fa-trash" type="button"
                                                        onclick="removeAllFromCart(event)"
                                                        data-stock-id="@product.StockId"></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Sub-Total</td>
                                        <td><vc:cart view="Small"></vc:cart></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Shipping</td>
                                        <td>???</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">Total</td>
                                        <td class="bold">???</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                    }
                    <div class="has-text-right">
                        <a asp-page="/Browse" class="button is-text">Resume Shopping</a>
                        @if (!isEmpty)
                        {
                            <a asp-page="/Checkout/CustomerInformation" style="visibility=@isEmpty" class="button is-info">Checkout</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

@section scripts {
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var addOneToCart = function (e, realValue) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/AddOne/" + stockId)
                .then(res => {
                    var id = "stock-" + stockId;
                    var el = document.getElementById(id);

                    var quantity = parseInt(el.innerText);
                    quantity = (quantity + 1);
                    console.log("Quantity: " + quantity)
                    el.innerText = quantity;

                    updateTotalStockValue(realValue, quantity, stockId);
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var removeOneFromCart = function (e, realValue) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/RemoveOne/" + stockId)
                .then(res => {
                    var id = "stock-" + stockId;
                    var el = document.getElementById(id);

                    var quantity = parseInt(el.innerText);
                    quantity = (quantity - 1);
                    console.log("Quantity: " + quantity)
                    el.innerText = quantity;

                    updateTotalStockValue(realValue, quantity, stockId);
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var removeAllFromCart = function (e) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/RemoveAll/" + stockId)
                .then(res => {
                    var id = "product-" + stockId;
                    var el = document.getElementById(id);
                    el.outerHTML = "";
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var updateTotalStockValue = function (realValue, quantity, stockId) {

            var stockValue = realValue;
            console.log("StockValue: " + stockValue);

            var total = (quantity * stockValue).toFixed(2);
            console.log("Total: " + total);

            var totalValue = document.getElementById("stockTotal-" + stockId);
            totalValue.innerText = "$" + total;
        }

    </script>
}
