@page
@model CartModel
@{
}

<div id="flow">
    <span class="flow-1"></span>
    <span class="flow-2"></span>
    <span class="flow-3"></span>
</div>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column box">
                    @if (Model.Cart != null)
                    {
                        <table class="table is-fullwidth is-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center;"></th>
                                    <th style="text-align: center;">Product ID</th>
                                    <th style="text-align: center;">Product Name</th>
                                    <th style="text-align: center;">Price</th>
                                    <th style="text-align: center;">Quantity</th>
                                    <th style="text-align: center;">Total Value</th>
                                    <th style="text-align: center;"></th>
                                </tr>
                            </thead> 
                            <tbody>
                                @foreach (var product in Model.Cart)
                                {
                                <tr id="product-@product.StockId">
                                    <td style="text-align: center; vertical-align: middle;">
                                        <img src="~/images/shirts.jpg" class="image is-64x64" />
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">@product.StockId</td>
                                    <td style="text-align: center; vertical-align: middle;">@product.Name</td>
                                    <td style="text-align: center; vertical-align: middle;">@product.Value</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <div class="columns has-text-centered is-mobile is-multiline">
                                            <div class="column is-4">
                                                <button class="button" type="button"
                                                        data-stock-id="@product.StockId"
                                                        data-value="@product.RealValue"
                                                        onclick="removeOneFromCart(event, this.dataset.value)">
                                                    -
                                                </button>
                                            </div>
                                            <div class="column is-4 align-self-center" id="stock-@product.StockId">
                                                @product.Quantity
                                            </div>
                                            <div class="column is-4">
                                                <button class="button" type="button"
                                                        data-stock-id="@product.StockId"
                                                        data-value="@product.RealValue"
                                                        onclick="addOneToCart(event, this.dataset.value)">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="stockTotal-@product.StockId" style="text-align: center; vertical-align: middle;">@product.TotalValue</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <button class="button is-danger fa fa-trash" type="button"
                                                onclick="removeAllFromCart(event)"
                                                data-stock-id="@product.StockId"></button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center; vertical-align: middle;">Sub-Total</td>
                                    <td style="text-align: center; vertical-align: middle;"><vc:cart view="Small"></vc:cart></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center; vertical-align: middle;">Shipping</td>
                                    <td style="text-align: center; vertical-align: middle;">???</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="font-weight: bold; text-align: center; vertical-align: middle;">Total</td>
                                    <td style="font-weight: bold; text-align: center; vertical-align: middle;">???</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                    else
                    {
                        <p class="subtitle">Your cart is empty.</p>
                    }
                    <div class="has-text-right">
                        <a asp-page="/Index" class="button is-text">Resume Shopping</a>
                        <a asp-page="/Checkout/CustomerInformation" class="button is-info">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var addOneToCart = function (e, realValue) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/AddOne/" + stockId)
                .then(res => {
                    var id = "stock-" + stockId;
                    var el = document.getElementById(id);

                    var quantity = parseInt(el.innerText);
                    quantity = (quantity + 1);
                    console.log("Quantity: " + quantity)
                    el.innerText = quantity;  

                    updateTotalStockValue(realValue, quantity, stockId);
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var removeOneFromCart = function (e, realValue) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/RemoveOne/" + stockId)
                .then(res => {
                    var id = "stock-" + stockId;
                    var el = document.getElementById(id);

                    var quantity = parseInt(el.innerText);
                    quantity = (quantity - 1);
                    console.log("Quantity: " + quantity)
                    el.innerText = quantity;

                    updateTotalStockValue(realValue, quantity, stockId);
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var removeAllFromCart = function (e) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/RemoveAll/" + stockId)
                .then(res => {
                    var id = "product-" + stockId;
                    var el = document.getElementById(id);
                    el.outerHTML = "";
                })
                .catch(err => {
                    alert(err.error);
                });
            }

        var updateTotalStockValue = function (realValue, quantity, stockId) {

            var stockValue = realValue;
            console.log("StockValue: " + stockValue);

            var total = (quantity * stockValue).toFixed(2);
            console.log("Total: " + total);

            var totalValue = document.getElementById("stockTotal-" + stockId);
            totalValue.innerText = "$" + total;
        }

    </script>
}
