@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div id="flow">
        <span class="flow-1"></span>
        <span class="flow-2"></span>
        <span class="flow-3"></span>
    </div>        

    <div class="section">
        <div class="box">
            <form class="field has-addons">
                <div class="control is-expanded">
                    <input asp-for="SearchString" autocomplete="off" type="search" class="input has-text-centered" placeholder="Find a Product">
                </div>
                <div class="control">
                    <input type="submit" value="Search" class="button is-info">
                </div>
            </form>
        </div>
        <div class="columns is-multiline is-mobile">
            @{
                foreach (var p in Model.Products)
                {
                    string message = "";
                    string aClass = "";

                    if (p.StockCount == 0)
                    {
                        message = "Out of Stock";                       
                        aClass = "cardDisabled";
                    }
                    else if (p.StockCount > 0 && p.StockCount <= 10)
                    {
                        message = "Low on Stock";
                        aClass = "";                       
                    }
                    <div class="column is-one-third-desktop is-4-tablet is-6-mobile">
                        <a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")" class="@aClass">
                            <div class="card large">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="~/images/shirts.jpg" />
                                        
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">@p.Name</p>

                                            @if(p.StockCount == 0) {
                                                <p class="subtitle is-6">@message</p>
                                            }
                                            else
                                            {
                                                <p class="subtitle is-6">Available Now: @p.Value</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>@p.Description</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
